*.o
/pqwx
*.d
local_build.mk
vcs_version.mk
pqwx_version.h
core
resources.h
resources.cpp
object_browser_sql.cpp
test_catalogue
pqwx.pot
build_settings
wx_flavour.h
*_resources_yml.cpp
dependencies_view_sql.cpp
dump_catalogue
